*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    p{
        background-color: cornflowerblue;
        color: darkblue;
        text-align: center;
    }
}
footer{

}
div{
    color: red;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid black;
    margin-left: 5rem;
    margin-right: 5rem;
}