*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    align-items: center;
    justify-content: center;
    display:flex;
    background-color: cornflowerblue;
    height:5rem;
    p{
        align-items: center;
        color: darkblue;
        text-align: center;
        justify-content: center;
        font-size: 22px;
        color:white;
        

    }
}
body{
    background: -webkit-linear-gradient(90deg, rgb(23, 74, 120), rgb(36, 78, 120));
    background: linear-gradient(90deg, rgb(23, 74, 120), rgb(36, 78, 120));
}
p{
    text-align: center;
}

.buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 4rem;
    button{
        justify-content: center;
        width: 12vh;
        height:5vh;
    }
}
.main{
    
    div{
    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 22px;
    margin-top:2rem ;
    font-size: 22px;
    color:white;
}
}

#count{
    color: red;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid black;
   
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}