*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(90deg, rgb(12, 17, 22), rgb(41, 43, 44));
    background: linear-gradient(90deg, rgb(12, 17, 22), rgb(41, 43, 44));
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
html{
    p{
        color:white;
    }
}
body{
        display:flex;
        flex-direction: column;
    p{
        color:white;
    }
}
header{
    p{
        background-color: cornflowerblue;
        color: darkblue;
        text-align: center;
        color:white;
    }
}
footer{
    background-color: black;
    color: white;
}
.amelioration{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button{
        color:white;
        background-color: grey;

    }
}

.count{
    color: red;
    text-align: center;
    margin-top: 2em;
    border: 1px solid black;
    margin-left: 20em;
    margin-right: 20em;
}

.reset{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.reset:hover{
    background-color: red;
}

img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    &:hover{
        transform: scale(0.8);
        transition: transform 1s;

    } 
}
