* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(#0c1116), to(#292b2c));
  background: linear-gradient(90deg, #0c1116, #292b2c);
  background-image: url("../img/fond.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html p {
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body p {
  color: white;
}

header p {
  background-color: cornflowerblue;
  color: darkblue;
  text-align: center;
  color: white;
}

footer {
  background-color: black;
  color: white;
}

.amelioration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.amelioration button {
  color: white;
  background-color: grey;
}

#fond {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #438e3b), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #438e3b 35%, #00d4ff 100%);
  margin-left: 35rem;
  margin-right: 35rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#target {
  text-align: center;
}

.count {
  color: red;
  text-align: center;
  margin-top: 2em;
  border: 1px solid black;
  margin-left: 20em;
  margin-right: 20em;
}

#nbrClick {
  text-align: center;
  color: white;
  background-color: black;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#acheterAutoClickBt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#reset:hover {
  background-color: red;
}

#ameliorationClickBt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

#ameliorationClickBt:hover {
  background-color: blue;
}

#acheterAutoClickBt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

#acheterAutoClickBt:hover {
  background-color: blue;
}

#acheterAutoClick2Bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

#acheterAutoClick2Bt:hover {
  background-color: blue;
}

img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  background: radial-gradient(circle, #3fdffb 0%, #1bc627 100%);
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 2px solid brown;
}

#cookieParSeconde {
  text-align: center;
  color: white;
  background-color: black;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */